<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Clippad</title>
<link rel="stylesheet" type="text/css" href="/static/css/page_bkg.css"></link>
</head>

<body>
<h1>Clippad</h1>
<p>Simplist online clipboard. </p>
<form id="form1" name="form1" method="post" action="">
  <p>
    <label for="content"></label>
    <textarea name="content" id="content" cols="110" rows="20">Paste text here.</textarea>
  </p>
</form>
<form id="form2" name="form2" method="post" action="">
  <p>
    <input name="cb_setpswd" type="checkbox" id="cb_setpswd" />
    <label for="cb_setpswd"></label> 
    Lock my clippad  
    <label for="tf_pswd"></label>
    <label for="in_pswd"></label>
    <input name="in_pswd" type="text" id="in_pswd" value="Password" />
  </p>
  <p>
    <input type="submit" name="btn_save" id="btn_save" value="Save" />
  </p>
</form>
</body>
</html>
