<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Clippad</title>
<link rel="stylesheet" type="text/css" href="/static/css/page_bkg.css"></link>
</head>

<body>
<h1>Clippad </h1>
<p>Simplist online clipboard. </p>
<p>Enter a parse to create  a clippad:</p>
<form id="form1" name="form1" method="post" action="">
  <p>
    <label for="in_name"></label>
    <input name="in_name" type="text" id="in_name" value="steve" />
    <input type="submit" name="btn_create" id="btn_create" value="Create a clippad" />
  </p>
</form>
</body>
</html>
