<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Clippad</title>
<link rel="stylesheet" type="text/css" href="/static/css/page_bkg.css"></link>
</head>

<body>
<h1>Clippad </h1>
<p>Simplist online clipboard. </p>
<p>This clippad is locked, enter password:</p>
<form id="form1" name="form1" method="post" action="">
  <label for="in_psswd"></label>
  <input type="text" name="in_psswd" id="in_psswd" />
  <input type="submit" name="btn_unlock" id="btn_unlock" value="Unlock" />
</form>
<p>&nbsp;</p>
</body>
</html>
